@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #333399, #ff00cc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-size: 9pt;
  margin-top: -21px;
  margin-bottom: -21px;
  text-align: center;
  display: none;
}

.error2 {
  color: red;
  font-size: 12pt;
  margin-top: 10px;
  text-align: center;
  display: none;
}

/* Login Card */
.login-card {
  width: 450px;
  background: rgba(255, 255, 255, 0.5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
}

.login-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  transform: rotate(-6deg);
  border-radius: 10px;
  z-index: -1;
}

/* ---------- */

/* Login Card Logo */
.login-card-logo {
  margin-bottom: 2rem;
}

.login-card-logo img {
  width: 60px;
}

/* ---------- */

/* Login Card Standard */
.login-card-logo,
.login-card-header,
.login-card-footer {
  text-align: center;
}

.login-card a {
  text-decoration: none;
  color: #35339a;
}

.login-card a:hover {
  text-decoration: underline;
}

/* ---------- */

/* Login Card Header */
.login-card-header {
  margin-bottom: 2rem;
}

.login-card-header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.login-card-header h1+div {
  font-size: calc(1rem * 0.8);
  opacity: 0.8;
}

/* ---------- */

/* Login Card Form */
.login-card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-card-form .form-item {
  position: relative;
}

.login-card-form .form-item .form-item-icon {
  position: absolute;
  top: 0.82rem;
  left: 1.4rem;
  font-size: 1.3rem;
  opacity: 0.4;
}

.login-card-form .checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}

.login-card-form .form-item-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(1rem * 0.8);
  margin-bottom: 0.5rem;
}

/* ---------- */

/* Login Card Footer */
.login-card-footer {
  margin-top: 1.5rem;
  font-size: calc(1rem * 0.8);
}

/* ---------- */

/* Login Card Form Elements */
.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="tel"],
.login-card input[type="email"] {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
  transition: background 0.5s;
}

.login-card input:focus {
  background: white;
}

.login-card input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: black;
}

.login-card button {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}

.login-card button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

/* ---------- */

/* Responsive */
@media (max-width: 768px) {
  body {
    padding: 2rem 0;
  }

  .login-card {
    width: 280px;
    padding: 2rem;
  }
}

/* ---------- */

/* Reset Adds */

/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}