nav ul,
footer {
  background: linear-gradient(to right, #333399, #ff00cc);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

footer a,
footer,
nav ul li a {
  color: white;
  text-decoration: none;
}

footer a {
  color: yellow;
}

nav a img {
  width: 3.75em;
}

nav ul li:hover > ul {
  display: block;
  background: linear-gradient(to right, #333399, #ff00cc);
}

nav li ul {
  display: none;
  position: absolute;
}
